node_modules/
dist/
dist-ssr/
*.local
.env
.env.local
.env.*.local
sa-prod.json
sa-dev.json
.firebase/
backup/
src.backup/
*.backup-*
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vite/
.env.backup
.env.production
*.mjs
