rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /locks/{lockId} {
      allow read: if isAuth() && resource.data.userId == request.auth.uid;
      
      allow create: if isAuth() && 
                      request.resource.data.userId == request.auth.uid &&
                      request.resource.data.expiresAt is timestamp &&
                      request.resource.data.expiresAt <= request.time + duration.value(900, 's') &&
                      (
                        !exists(/databases/$(database)/documents/locks/$(lockId)) ||
                        get(/databases/$(database)/documents/locks/$(lockId)).data.expiresAt < request.time
                      ); 
                      
      allow delete: if isAuth() && (resource.data.userId == request.auth.uid || isAdmin());
      allow update: if false;
    }

    match /ocupacionTemporal/{docId} {
      allow read: if isAuth();
      allow create, delete: if isAuth() && request.auth.uid == get(/databases/$(database)/documents/locks/$(docId)).data.userId;
      allow update: if false;
    }

    match /ocupacionConfirmada/{docId} {
      allow read: if isAuth();
      allow create, delete: if isAdmin();
      allow update: if isAdmin();
    }

    match /artifacts/{appId}/public/data/{collection}/{docId} {
      function isAuth() { return request.auth != null; }
      function isAdmin() { return isAuth() && (
        get(/databases/$(database)/documents/artifacts/motoescuela-pro-v1/public/data/admins/$(request.auth.uid)).data.role == 'admin'
      );}
      
      allow read: if isAuth();
      allow create, update, delete: if isAuth() && (
        collection == 'reservas' || collection == 'cursos' || collection == 'sedes' ||
        collection == 'horarios' || collection == 'instructores' || collection == 'proveedores' ||
        collection == 'motos' || collection == 'movimientos' || collection == 'admins' ||
        collection == 'notificaciones'
      );
    }
  }
}
