@tailwind base;
@tailwind components;
@tailwind utilities;
body { margin: 0; -webkit-font-smoothing: antialiased; }

@keyframes progress-stripes {
  0% { background-position: 0 0; }
  100% { background-position: 24px 0; }
}
